name: animated_size_and_fade
description: Does a fade and size transition between widgets of different heights. Also used to show/hide a widget.
version: 3.0.1
# author: Marcelo Glasberg <marcglasberg@gmail.com>
homepage: https://github.com/marcglasberg/animated_size_and_fade

environment:
  sdk: '>=2.13.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

